<%= erb :"partails/top" %>

<div class="container" id="body">
<%= erb :"tweets/left_side" %>
	<div class="col-md-6">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <!-- <div class="col-md-2"> -->
		    	<!-- <img class="top-timeline-tweet-box-user-image avatar size32" src="https://pbs.twimg.com/profile_images/2466767557/Capture_normal.PNG" alt=""> -->
		    <!-- </div> -->
		    <div class="panel-heading">
		    	<h3 class="panel-title">Retweet</h3>
		  	</div>
		  </div>
		  <div class="panel-body">

			<div class="col-md-2">
		    	<img class="top-timeline-tweet-box-user-image avatar size32" src="https://pbs.twimg.com/profile_images/2466767557/Capture_normal.PNG" alt="">
		    </div>
		    <div class="col-md-10">
				<div class="panel panel-default">
				  <div class="panel-body">
				    <div class="media">
					  <div class="media-left media-middle">
					    <a href="#">
					      <img class="media-object" src="https://pbs.twimg.com/profile_images/530159680342224896/egeTCqVA_normal.jpeg" alt="">
					    </a>
					  </div>
					  <div class="media-body">
					    <h5 class="media-heading"><%= @user.name %></h5>
					    <p><%= @tweet.content %></p>
						<% if @tweet.user_id == session[:id] %>
					    <a href="/retweet/<%= @tweet.id %>" class="btn" disabled>
					    <% else %>
					    <a href="/retweet/<%= @tweet.id %>" class="btn">
					    <% end %>
					    	<span class="label label-info">Retweet</span>
					    	<span class="badge"><%= @tweet.count_retweet %></span>
					    </a>
						<span class="label label-info">Reply</span>

					  </div>
					</div>
				  </div>
				</div>
				<form action="/retweet/<%= @tweet.id %>" method="POST" class="form-herizontal form">
					<input type="submit" value="Retweet" class="btn btn-xs btn-success">
				</form>
		    </div>
		    <div class="clear-both"></div>

		  </div>
		</div>


		

	</div>
<%= erb :"tweets/right_side" %>
</div>