<%= erb :"partails/top" %>

<div class="container" id="body">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <div class="col-md-2">
		    	<img class="top-timeline-tweet-box-user-image avatar size32" src="https://pbs.twimg.com/profile_images/2466767557/Capture_normal.PNG" alt="">
		    </div>
		    <div class="col-md-10">
		    	<!-- <div class="input-group">
				  <span class="input-group-addon glyphicon glyphicon-camera" ID="sizing-addon1"> </span>
				  <input type="TEXT" class="form-control" placeholder="What is your news?" aria-describedby="sizing-addon1">
				</div> -->
				<form action="/tweet" method="POST" class="form-herizatal form">
					<div class="form-group">
						<textarea class="form-control" name="content"></textarea>
					</div>
					<input type="submit" value="Tweet" class="btn btn-success">
				</form>
		    </div>
		    <div class="clear-both"></div>
		    <% message = session[:message] %>
		    <% session.delete(:message) %>
		    <% if message %>
		    <% css_class_msg = message[:success] ? "success" : "warning" %>
		    <div class="alert alert-<%= css_class_msg %>" role="alert"><%= message[:message] %></div>
		    <% end %>
		  </div>
		  <div class="panel-body">
			<% @tweets.each do |tweet| %>
			<% user = User.find_by_id(tweet.user_id) %>
				<div class="media">
				  <div class="media-left media-middle">
				    <a href="#">
				      <img class="media-object" src="https://pbs.twimg.com/profile_images/2466767557/Capture_normal.PNG" alt="">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><%= user.name %></h4>
				    <p><%= tweet.content %></p>

				    <% if tweet.user_id == session[:id] %>
				    <a href="/retweet/<%= tweet.id %>" class="btn" disabled>
				    <% else %>
				    <a href="/retweet/<%= tweet.id %>" class="btn">
				    <% end %>
				    	<span class="label label-info">Retweet</span>
				    	<span class="badge"><%= tweet.count_retweet %></span>
				    </a>
					<span class="label label-info">Reply</span>
				  </div>
				</div>
			<% end %>
		  </div>
		</div>
	</div>
<div class="col-md-2"></div>
</div>
