<%= erb :"partails/top" %>

<div class="container" id="body">
	<div class="row">
		<div class="col-md-12">
			<div class="row">

			<% @users.each do |user| %>
			<% if user.id != session[:id] %>
				<div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <img src="https://pbs.twimg.com/profile_banners/14749606/1426271254/600x200" alt="...">
				      <div>
				      	<img class="media-object pull-right" src="https://pbs.twimg.com/profile_images/530159680342224896/egeTCqVA_normal.jpeg" alt="">
				      </div>
				      <div class="caption">
				        <h4><%= user.name %></h4>
				        <p><b>@<%= user.handle %></b></p>
				        <p>
									<form action="/unfollow" method='post' class="navbar-form navbar-left">
									  <input type="hidden" name="id" value=<%= user.id %>>
									  <input type="submit" value="Unfollow">
									</form>
									<form action="/follow" method="POST" class="navbar-form navbar-left">
										<input type="hidden" name="id" value=<%= user.id %>>
										<input type="submit" value="Follow">
									</form>

				        </p>
				      </div>
				      <div class="clear-both"></div>
				    </div>
				</div>
			<% end %>
			<% end %>
			</div>
		</div>

	</div>
</div>
